[run]
source = src/projectpruner
omit = tests/*

[report]
fail_under = 50
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError
    except ImportError
    raise NameError
    except NameError
